body {
    padding: 0;
    margin: 0;
    background: #212121;
    font-family: "Poppins", sans-serif;
    color: #9e9e9e;
}

a, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #9e9e9e;
}

.admin-panel {
    display: grid;
    grid-template-columns: 5in 1fr 5in;

    background: #141414;
    height: 0.5in;
}

.admin-panel__bar {
    display: flex;
    align-items: center;
    height: 0.5in;
}

.admin-panel__bar_left {
    grid-column: 0;
    justify-content: flex-start;
}

.admin-panel__bar_right {
    grid-column: -1;
    justify-content: flex-end;
}

.admin-panel__item {
    padding: 0.1in 0.2in;
    animation: 2s infinite ease-in-out;
}

.admin-panel__item_disable {
    color: #505050;
    pointer-events: none;
}

.admin-panel__item_disable:hover {
    color: #505050 !important;
}

.admin-panel__item:hover {
    color: #e0e0e0;
}

.wrap {
    padding: 0.5in 0;

    display: grid;
    grid-template-columns: 1fr 0.5in [start] 7.5in [end] 0.5in 1fr;
}

@media (max-width: 8.5in) {
    .wrap {
        grid-template-columns: 1fr 5% [start] 15% 50% 15% [end] 5% 1fr;
    }
}

.header {
    grid-column: start / end;
}

.header .header__title {
    margin: 0.5in 0;
    border-bottom: 0.3rem solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 3rem;
    color: #e0e0e0;
}

.header .header__nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header__nav-bar-item {
    padding: 0.1in;
    border: 0.3rem solid #505050;
    margin: 0 0.2in;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.content {
    grid-column: start / end;
}

.post {
    margin: 1in 0;
}

.post__header {
    display: flex;
    justify-content: space-between;
}

.post__title {
    font-size: 2rem;
    color: #e0e0e0;
}

.post__date-pub {
    font-size: 1rem;
    color: #e0e0e0;
}

.post__content {
    margin-top: 0.2in;
    color: #e0e0e0;
    font-size: 1.2rem;
}

.post__tag-list {
    margin-bottom: 0.2in;
    color: #e0e0e0;
    font-size: 1rem;
    text-transform: uppercase;
}

.button {
    padding: 0.1in;
    border: 0.3rem solid #505050;
    margin-right: 0.1in;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Posts Pagination */

.post-list-pagination {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;

    list-style: none;
}

.post-list-pagination__item {
    margin: 0 0.1in;

    font-size: 1rem;
    text-transform: uppercase;
}

.post-list-pagination__item_page {
    padding: 0 0.1in;
    border: 0.2rem solid #505050;

    color: #505050;

    animation-duration: 1s, 3s;
}

.post-list-pagination__item_page:hover:not(.post-list-pagination__item_page_current) {
    border: 0.2rem solid #e0e0e0;

    color: #e0e0e0;
}

.post-list-pagination__item_page_current {
    border: 0.2rem solid #e0e0e0;

    background: #e0e0e0;

    color: #141414;
}

.post-list-pagination__item_button {
    padding: 0 0.1in;
    border: 0.2rem solid #505050;

    background: #505050;

    font-weight: bold;
    color: #212121;
}

.post-list-pagination__item_button:hover {
    border: 0.2rem solid #e0e0e0;

    background: #e0e0e0;
}