{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Just a Blog - {% block title %}{% endblock %}</title>
</head>

<body>

    <div class="admin-panel">
        <div class="admin-panel__bar admin-panel__bar_left">
            <a class="admin-panel__item" href="/admin">/admin</a>
        </div>
        <div class="admin-panel__bar admin-panel__bar_right">
                <a class="admin-panel__item" href="{% url 'post_create_url' %}">Write Post</a>
                <a class="admin-panel__item" href="{% url 'post_create_url' %}">Add Tag</a>
                <a class="admin-panel__item {% if not detail %}admin-panel__item_disable{% endif%}" href="{{ model.get_update_url }}">Update</a>
                <a class="admin-panel__item {% if not detail %}admin-panel__item_disable{% endif%}" href="{{ model.get_delete_url }}">Delete</a>
        </div>
    </div>

    <div class="wrap">

        <header class="header">

            <h1 class="header__title">Just a Blog.</h1>

            <div class="header__nav-bar">
                <a class="header__nav-bar-item" href="{% url 'post_list_url' %}">Posts</a>
                <a class="header__nav-bar-item" href="{% url 'tag_list_url' %}">Tags</a>
            </div>

        </header>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    </div>

</body>

</html>