{% extends "posts/base.html" %}
{% load static %}

{% block title %} Posts {% endblock %}

{% block content %}

    {% for post in page.object_list %}

        <div class="post">

            {% include "posts/includes/post-template.html" %}

        </div>

    {% endfor %}

    <ul class="post-list-pagination">
        <li><a class="post-list-pagination__item post-list-pagination__item_button" href="{{ previous_page_url }}">Previous</a></li>

        {% for i in page.paginator.page_range%}
            {% if i >= page.number|add:-5 and i <= page.number|add:5 %}
                <li><a class="post-list-pagination__item post-list-pagination__item_page {% if page.number == i %}post-list-pagination__item_page_current{% endif %}" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        <li><a class="post-list-pagination__item post-list-pagination__item_button" href="{{ next_page_url }}">Next</a></li>
    </ul>

{% endblock %}