{% extends "posts/base.html" %}

{% block title %} Post List {% endblock %}

{% block content %}
    <h1>Post List:</h1>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <div>{{ post.date_pub }}</div>
        <p>{{ post.content |  truncatechars:128 }}</p>
        <div>
            {% for tag in post.tags.all %}
                <span>#{{ tag.title }}</span>
            {% endfor %}
        </div>
        <a href="{{ post.get_absolute_url }}">Read more...</a>
    {% endfor %}
{% endblock %}